span.css-10trblm.e16nr0p30{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

div.css-6qob1r.e1fqkh3o3{
    background-color: lightgray;
    border:yellow ;
}

span.css-pkbazv.e1fqkh3o5{
    color: orange;
}

span.css-pkbazv.e1fqkh3o5{
    font-size: 20px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
}

div.st-ae .st-af .st-ag .st-cg .st-ai .st-aj .st-bd .st-cm .st-b8{
    border: black;
    border-radius: 5px;
    height: 40px;

}

div.st-be.st-bf.st-by.st-bz.st-c0.st-b3.st-c1.st-c2.st-bg.st-c3.st-c4.st-c5.st-c6{
    border: black;
    border-radius: 5px;

}

div.css-184tjsw.e16nr0p34{
    font-size: 15px;
    color: orange;
}

div.css-14xtw13.e8zbici0{
    display:none;
}

footer.css-h5rgaw.egzxvld1{
    display:none;
}

div.dvn-scroller.glideDataEditor{
    height: 400vb;
    width: 400vb;

}

span.css-10trblm.e16nr0p30{
    size: 30px;

}
 button.css-1n543e5.edgvbvh10{
    width:100%;
    height:55px;
    border:none;
    border-radius:5px;
    font-size:25px;
    font-weight:600;
    color:#fff;
    background-color:#1859c9;
    cursor:pointer;
    font-size: 20px;
 }

.appview-container.css-1wrcr25.egzxvld6{
    background-image: url("s1.png");
    /* background: black; */
    background-size: cover;
 }

 .css-18ni7ap.e8zbici2{
    background-color: transparent;
 }

.css-16idsys.e16nr0p34 p{
    color: yellow;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

div.css-16idsys.e16nr0p34 p{
    background-color: transparent;
}

.css-6qob1r.e1fqkh3o3{
    background-image: url("https://st2.depositphotos.com/1126760/5662/v/450/depositphotos_56622263-stock-illustration-soft-blue-pastel-light-cloud.jpg");
}

.css-1w6rlcb.e12sa3f30 p{
    color: chartreuse;
}

div.css-5rimss.e16nr0p34 li{
    color: yellow;
    font-size: 20px;
}

div.css-5rimss.e16nr0p34 p{
    color: yellow;
    font-size: 20px;
}

div.css-16idsys.e16nr0p34 p {
   
    color: yellow;
    font-size: 25pxs;
}

.css-lrlib.e1fqkh3o9 ul{
    text-align: center;
}

.css-1v0mbdj.etr89bj1 img{
    border-radius: 100px;
}
